<html>
    <head>
        {% load static %} 
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crete+Round">
    </head>

    <body>
        <div class='fullscreenDiv'>
            <div class="center">
                <p>Thank you for your email confirmation!<br> Now you can log into your account.</p>
                <a class="submit-button" href="{% url 'portfolio:portfolio' %}" >Back to site</a>
            </div>
        </div>
    </body>
</html>